version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - kong-net
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2181"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
    networks:
      - kong-net
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "29092"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s



  kong:
    image: kong:3.4
    container_name: kong
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/kong.yml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_PROXY_LISTEN: "0.0.0.0:8000" 
      KONG_ADMIN_LISTEN: "off"
    ports:
      - "8000:8000"  
      - "8001:8001"  
    volumes:
      - ./gateway/kong.yml:/usr/local/kong/kong.yml
    networks:
      - kong-net

  auth-service:
    build:
      context: .
      dockerfile: ./services/auth-service/Dockerfile
    container_name: auth-service
    ports:
      - "3000:3000"
    networks:
      - kong-net

  restaurant-service:
    build:
      context: .
      dockerfile: ./services/restaurant-service/Dockerfile
    container_name: restaurant-service
    environment:
      KAFKA_BROKER: "kafka:29092"
    ports:
      - "3001:3001"
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - kong-net
    restart: on-failure

  reservations-service:
    build:
      context: .
      dockerfile: ./services/reservations-service/Dockerfile
    container_name: reservations-service
    ports:
      - "3002:3002"
    networks:
      - kong-net

  menu-order-service:
    build:
      context: .
      dockerfile: ./services/menu-order-service/Dockerfile
    container_name: menu-order-service
    environment:
      KAFKA_BROKER: "kafka:29092"
    ports:
      - "3003:3003"
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - kong-net
    restart: on-failure

  websocket-gateway:
    build:
      context: .
      dockerfile: ./gateway/websocket-gateway/Dockerfile
    container_name: websocket-gateway
    environment:
      KAFKA_BROKER: "kafka:29092"
      WEBSOCKET_GATEWAY_PORT: "3005"
      PORT: "3005"
    ports:
      - "3005:3005"
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - kong-net
    restart: on-failure


networks:
  kong-net:
    driver: bridge 