apiVersion: v1
kind: Service
metadata:
  name: portainer
  namespace: restaurant-app
  labels:
    app: portainer
spec:
  type: NodePort
  ports:
  - port: 9000
    targetPort: 9000
    protocol: TCP
    name: http
    nodePort: 30090
  - port: 9443
    targetPort: 9443
    protocol: TCP
    name: https
    nodePort: 30443
  selector:
    app: portainer


