apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: {{ .Values.namespace.name }}
data:
  DB_HOST: {{ .Values.global.dbHost | quote }}
  DB_PORT: {{ .Values.global.dbPort | quote }}
  DB_USER: {{ .Values.global.dbUser | quote }}
  KAFKA_BROKER: {{ .Values.global.kafkaBroker | quote }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: {{ .Values.namespace.name }}
data:
  DB_NAME: {{ .Values.authService.database.name | quote }}
  MONGODB_URI: "mongodb://{{ .Values.global.dbUser }}:{{ .Values.mongodb.credentials.password }}@{{ .Values.global.dbHost }}:{{ .Values.global.dbPort }}/{{ .Values.authService.database.name }}?authSource=admin"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: restaurant-service-config
  namespace: {{ .Values.namespace.name }}
data:
  DB_NAME: {{ .Values.restaurantService.database.name | quote }}
  MONGODB_URI: "mongodb://{{ .Values.global.dbUser }}:{{ .Values.mongodb.credentials.password }}@{{ .Values.global.dbHost }}:{{ .Values.global.dbPort }}/{{ .Values.restaurantService.database.name }}?authSource=admin"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: reservations-service-config
  namespace: {{ .Values.namespace.name }}
data:
  DB_NAME: {{ .Values.reservationsService.database.name | quote }}
  MONGODB_URI: "mongodb://{{ .Values.global.dbUser }}:{{ .Values.mongodb.credentials.password }}@{{ .Values.global.dbHost }}:{{ .Values.global.dbPort }}/{{ .Values.reservationsService.database.name }}?authSource=admin"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: menu-order-service-config
  namespace: {{ .Values.namespace.name }}
data:
  DB_NAME: {{ .Values.menuOrderService.database.name | quote }}
  MONGODB_URI: "mongodb://{{ .Values.global.dbUser }}:{{ .Values.mongodb.credentials.password }}@{{ .Values.global.dbHost }}:{{ .Values.global.dbPort }}/{{ .Values.menuOrderService.database.name }}?authSource=admin"


