{{- if .Values.portainer.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: portainer-pvc
  namespace: {{ .Values.namespace.name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.portainer.storage.size }}
  storageClassName: {{ .Values.portainer.storage.storageClass }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer
  namespace: {{ .Values.namespace.name }}
  labels:
    app: portainer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portainer
  template:
    metadata:
      labels:
        app: portainer
    spec:
      containers:
      - name: portainer
        image: "{{ .Values.portainer.image.repository }}:{{ .Values.portainer.image.tag }}"
        ports:
        - containerPort: 9000
          name: http
        - containerPort: 9443
          name: https
        volumeMounts:
        - name: portainer-data
          mountPath: /data
        - name: docker-sock
          mountPath: /var/run/docker.sock
        resources:
          {{- toYaml .Values.portainer.resources | nindent 10 }}
      volumes:
      - name: portainer-data
        persistentVolumeClaim:
          claimName: portainer-pvc
      - name: docker-sock
        hostPath:
          path: /var/run/docker.sock
          type: Socket
---
apiVersion: v1
kind: Service
metadata:
  name: portainer
  namespace: {{ .Values.namespace.name }}
  labels:
    app: portainer
spec:
  type: {{ .Values.portainer.service.type }}
  ports:
  - port: 9000
    targetPort: 9000
    protocol: TCP
    name: http
    {{- if eq .Values.portainer.service.type "NodePort" }}
    nodePort: {{ .Values.portainer.service.httpNodePort }}
    {{- end }}
  - port: 9443
    targetPort: 9443
    protocol: TCP
    name: https
    {{- if eq .Values.portainer.service.type "NodePort" }}
    nodePort: {{ .Values.portainer.service.httpsNodePort }}
    {{- end }}
  selector:
    app: portainer
{{- end }}

