apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: restaurant-app
  labels:
    app: auth-service
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
    nodePort: 30000  # Accesibil prin port-forward la localhost:3000
  selector:
    app: auth-service

