apiVersion: v1
kind: Service
metadata:
  name: restaurant-service
  namespace: restaurant-app
  labels:
    app: restaurant-service
spec:
  type: NodePort
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: http
    nodePort: 30001  # Accesibil prin port-forward la localhost:3001
  selector:
    app: restaurant-service

